{% extends 'base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2>
                {{ post.title }}
            </h2>
            <form method="POST">
                {% csrf_token %}
        
                <p>Are you sure you want to delete?</p>
        
                <input class="btn btn-danger" type="submit" value="Yes, Delete">
                <a href="{% url 'post-detail' post.id %}" class="btn btn-info">Cancel</a>
            </form>
        </div>
    </article>
{% endblock %}
